div.social-login
	button.social-login-github
<<<<<<< HEAD
		a(href=routes.github)
			span
				i.fab.fa-github
			|Continue with github
=======
		span
			i.fab.fa-github
		|Continue with github
>>>>>>> 0e4c58247d31f339d15c50446df494aa30527f62
	button.social-login
		span.social-login-facebook
			i.fab.fa-facebook
		|Continue with Facebook