extends layouts/main.pug

include mixin/videoBlock.pug

block content
	div.search_header
		h3 searching for #{searchingBy}
	div.search_videos
		if videos.length === 0
			h5 No Videos Found
		each item in videos
			+videoBlock({
				title:item.title,
				views:item.views,
				videoFile:item.videoFile,
				id:item.id
			})